/.metadata/
**/Debug
.jxbrowser-data
.vs
**.csv
**.xlsx
*/Debug/
Dummby/
.jxbrower-data/**
*.docx
**/RemoteSystemsTempFiles
**.metadata
.launches
.DS_Store
__pycache__
**/Credentials
**/geckodriver.log